# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# =========================
# Virtual Environment
# =========================
env/
venv/
ENV/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Model Artifacts
# =========================
artifacts/
*.h5
*.keras
*.model
*.npz
*.pkl

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Logs
# =========================
.log/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db